.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.main img {
    max-width: 100%;
    border-radius: 60px;
}

.main button {
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}